* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  scroll-behavior: smooth;
}

.back_top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  opacity: 0;
  transition: 1s;
  background-color: black;
  border-radius: 50%;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}
