.section-6 {
  background-image: url(../images/yellow-bcg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-heading h1 {
  padding-top: 126px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  color: #141820;
}

.footer-heading img {
  padding-left: 500px;
  width: 900px;
}

.footer-paragraph p {
  margin-top: 40px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #555555;
}

.footer-end input {
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 225px;
  width: 445px;
  height: 70px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  padding-left: 10px;
}

.footer-end button {
  padding-left: -15px;
  background: #57b8ff;
  border: transparent;
  width: 221px;
  height: 70px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.footer-end button:hover {
  background-color: #fff;
  color: #fac422;
}
